<div class="row  text-primary p-2 ">
  <div class="col text-start">
     <a href="" class="navbar-brand">Medlab</a>
  </div>
  <div class="col-md-6 text-end">
    <a class="navbar-brand cursor" (click)="redirectToCart()"><i class="bi bi-cart2 me-2 fs-4"></i> <span class="cartCoun badge text-bg-secondary">{{cardCount | async}}</span></a>
    <a class="navbar-brand ms-4" *ngIf="!isLoginSuccess" data-bs-toggle="modal" data-bs-target="#loginModal" #loginBtn>Login</a>
    <a class="navbar-brand ms-4" *ngIf="isLoginSuccess">{{loggedUserDetails?.userName}}</a>&nbsp;
     <a href="" class="navbar-brand">About Us</a>
    </div>
</div>



 <!-- Modal -->
 <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{actionName}}&nbsp;Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeBtn></button>
      </div>
      <div class="modal-body">
        <app-sign-up *ngIf="actionName == 'SignUp'"></app-sign-up>
        <app-login *ngIf="actionName == 'SignIn'" (signInSuccess)="handleLoginSuccess($event)"></app-login>
      </div>
      <div class="d-grid gap-2" >
       <button class="btn btn-primary m-4" type="button" *ngIf="actionName=='SignIn'" (click)="changeAction('SignUp')">Sign Up</button>
       <button class="btn btn-primary m-4" type="button" *ngIf="actionName=='SignUp'" (click)="changeAction('SignIn')">Login</button>
     </div>
    </div>
  </div>
</div>