
<div class="container py-2 m-auto w-75 ">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid ms-2 ">
              <div class="collapse navbar-collapse  ms-2" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto mb-2 mb-lg-0 w-75 d-flex  justify-content-around ">
                        <li class="nav-item ">
                          <a class="nav-link active" aria-current="page" href="#">
                            <img class="m-auto" src="../../../assets/images/talk to doctor.jpeg" alt="" height="75px" weight="75px">
                          </a>
                          <h6>Talk To Doctor</h6>
                          </li>
                        <li class="nav-item ">
                            <a class="nav-link "  href="#">
                              <img class="m-auto" src="../../../assets/images/surgery.svg" alt="" height="75px" weight="75px">
                            </a>
                            <h6>Surgery</h6>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link "  routerLink="/medicine-home">
                              <img class="m-auto" src="../../../assets/images/medicine.jpeg" alt="" height="75px" weight="75px">
                            </a>
                            <h6>Medicine</h6>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link "  href="#">
                              <img class="m-auto" src="../../../assets/images/insurance.jpeg" alt="" height="75px" weight="75px">
                            </a>
                            <h6>Insurance</h6>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link "  href="#">
                              <img class="m-auto" src="../../../assets/images/lab.svg" alt="" height="75px" weight="75px">
                            </a>
                            <h6>Lab Test</h6>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link mb-5"  href="#">
                            <img class="m-auto" src="../../../assets/images/more.svg" alt="" height="45px" weight="45px">
                          </a>
                          <h6 class="">More</h6>
                      </li>
                   </ul>
                
                </div>
            </div>
        </nav>

    </div>
</div>


<div class="container py-4 mt-2 w-75 border shadow rounded-pill">
    <div class="row text-center">
        <div class="col-md-6">
            <h6 class="mt-2">Consult with top Doctors,24 x 7</h6>
        </div>
        <div class="col-md-4 border py-2 rounded-pill">
            <h6 class="text-primary">Start Consultation<i class="bi bi-arrow-right-short"></i></h6>

        </div>
    </div>
</div>


<div class="container py-2 mt-4 w-75">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/images/medibuddy(3).webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/medibuddy(2).webp" class="d-block w-100" alt="...">
      </div>
     
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


</div>

<div class="container mt-4 w-75 ">
  <img src="https://www.medibuddy.in/assets/ABHA.svg" class="d-block w-100" alt="..." height="75px">
  
</div>


<div class="container mt-4 w-75">
  <div class="row ">
  <div class="col w-25">
  <h5 class="">Watch Amitabh Bachchan emphasize the importance of Unlimited Expert Doctor Consultations online for the entire family.</h5>
  
 

  <h1 class=" fw-bolder fs-5">Download the App</h1>
  <a class="m-2 "><img src="../../../assets/images/android download.png" alt="" height="35px"></a>
  <a class="m-2"><img src="../../../assets/images/ios download.png" alt="" height="35px"></a>
 </div> 
  <div class="w-25 col">
    <video class="video" width="100%" height="100%" controls="" poster="https://www.medibuddy.in/assets/ab-main-page.webp" class="br-10"><source src="https://www.medibuddy.in/assets/mb-amitabh.mp4" type="video/mp4"></video>
    </div>
   </div>
  
   </div>
   
<div class="container mt-3 py-5">
  <div class="row ">
    <div class="col-md-4 text-start ">
      <h5>Medlab</h5>
      <h4>Give the care your family deserves</h4>
      <h5>Unlimited Consultations with top Doctors for 6 family members in 18+ specialities</h5>
      <button type="button" class="btn btn-warning mt-2 fs-5 ps-2">Buy Medlab Gold<i class="bi bi-arrow-right"></i></button>
    </div>
    <div class="col ">
      <div class="row ms-4">
        <div class="col-md-6">
          <div class="cards" style="width: 14rem;">
            <img src="https://www.medibuddy.in/assets/services/mb-gold/unlimited-consultations.svg" class="card-img-top" alt="..." height="150">
            <div class="card-body">
              <h5 class="card-title">Unlimited Free Consultations </h5>
              <p class="card-text">Get unlimited free consultations with all doctors 24x7</p>
              
           </div>
          </div>
        </div>

        <div class="col col-md-6">
          <div class="cards" style="width: 14rem;">
             <img src="https://www.medibuddy.in/assets/services/mb-gold/family.svg" class="card-img-top" alt="..." height="160">
             <div class="card-body">
              <h5 class="card-title">Free For Full Family</h5>
              <p class="card-text">Free consultations for upto 6 family members</p>
              </div>
          </div>
        </div> 
        </div>


        
         <div class="row mt-4 ms-4">
            <div class="col-md-6">
              <div class="cards" style="width: 14rem;">
                <img src="https://www.medibuddy.in/assets/services/mb-gold/free-health.svg" class="card-img-top" alt="..." height="100">
                <div class="card-body">
                  <h5 class="card-title">Free For All Health Problems </h5>
                  <p class="card-text">Consult with any doctor from 18 departments at any time</p>
                  
               </div>
              </div>
    
            </div> 
            <div class="col-md-6">
           <div class="cards" style="width: 14rem;">
              <img src="https://www.medibuddy.in/assets/services/mb-gold/video-consultation.svg" class="card-img-top" alt="..." height="150">
              <div class="card-body">
                <h5 class="card-title">Video Consultations</h5>
                <p class="card-text">Video Consults with top doctors 24x7</p>
                </div>
             </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container">
    <div class="it">
    <h3>Insurance</h3>
    <h6>Get access to all your Health insurance services - View Policy, Initiate and Track Claims, Go Cashless with network hospitals and intimate Hospitalization</h6>

    </div>
  <div class="row mt-4 ">
    <div class="col ">
      <div class="cards" style="width: 12rem;">
        <h4 class="it text-center">E-Card</h4>
        <p class="card-text it">Get e-cards for you and your family</p>
        <img src="https://www.medibuddy.in/assets/services/insurance/ecard.svg" class="card-img-top" alt="..." height="75" wight="50">
        <div class="card-body">
          
         </div>
      </div>
     </div>
     <div class="col">
      <div class="cards" style="width: 12rem;">
        <h4 class="it text-center">Claims</h4>
        <p class="card-text it">Track your claims in real-time</p>
        <img src="https://www.medibuddy.in/assets/services/insurance/claims.svg" class="card-img-top" alt="..." height="75" wight="50">
        <div class="card-body">
          
         </div>
      </div>
     </div>
     <div class="col">
      <div class="cards" style="width: 12rem;">
        <h4 class="it text-center">Plan Hospitalization</h4>
        <p class="card-text it">Plan and intimate Hospitalization</p>
        <img src="https://www.medibuddy.in/assets/services/insurance/hospitalization.svg" class="card-img-top" alt="..." height="75" wight="50">
        <div class="card-body">
          
         </div>
      </div>
     </div>
     <div class="col">
      <div class="cards" style="width: 12rem;">
        <h4 class="it text-center">Network hospitals</h4>
        <p class="card-text it">search for the nearst hospitals</p>
        <img src="https://www.medibuddy.in/assets/services/insurance/network-hospitals.svg" class="card-img-top" alt="..." height="75" wight="50">
        <div class="card-body">
          
         </div>
      
     </div>
     </div>
     <div class="col ">
      <div class="cards " style="width: 12rem;">
        <h4 class="it text-center">Emapanel hospitals</h4>
        <p class="card-text it">Become a part of network hospitals</p>
        <img src="https://www.medibuddy.in/assets/services/insurance/EmpanelHosp.svg" class="card-img-top" alt="..." height="75" wight="50">
        <div class="card-body">
          
         </div>
      </div>
     </div>
  </div>
</div>
        
<div class="container mt-5  py-4 ">
<a>
  <img class="w-100" src="https://www.medibuddy.in/assets/surgery.svg" alt="">
</a>
</div>



