.searchBox{
    position: relative;
    top: -30px;
    height: 60px;
    width: 40%;
  
}


.prescriptions
{
box-shadow:  0 0 10px rgb(24 24 24 / 16%);
border-radius: 20px;
margin-right: 70px;
height: 250px;
padding-top: 25px;
}

.img{
  margin-left: 50px;
    
}