<div class="row py-5 text-center bg-primary text-light mt-1">
    <div class="col">
        <h3>Get Huge Savings on Medicines</h3>
        <div class="d-flex justify-content-center text-center mb-3">
            <div class="p-2"><i class="bi bi-check-circle-fill"></i>100 % Genuine Medicines</div>
            <div class="p-2"><i class="bi bi-check-circle-fill"></i>Trusted Pharmacies</div>
            <div class="p-2"><i class="bi bi-check-circle-fill"></i>Delivery to your doorstep</div>
            <div class="p-2"><i class="bi bi-check-circle-fill"></i>Store Pick up</div>
            
          </div>
    </div>
</div>


<div class="row w-75 text-center m-auto rounded-5 searchBox">
  <div class="input-group flex-nowrap p-0" style="height: 60px;">
      <span class="input-group-text bg-body" id="addon-wrapping" *ngIf="isPinCodeAvailable">{{pincodeDetails.pincodeCity}} &nbsp;{{pincodeDetails.pincode}}&nbsp;&nbsp;<span data-bs-toggle="modal" data-bs-target="#pincodeModal"><i class="bi bi-chevron-down text-primary cursor"></i></span></span>
      <span class="input-group-text bg-body" *ngIf="!isPinCodeAvailable">Select Location&nbsp;&nbsp;<span data-bs-toggle="modal" data-bs-target="#pincodeModal"><i class="bi bi-chevron-down text-primary cursor"></i></span></span>
      <input type="text" class="form-control" placeholder="Search Medicine" aria-label="Username"
          aria-describedby="addon-wrapping">
          <span class="input-group-text bg-body text-primary" id="addon-wrapping"><i class="bi bi-search me-2"></i> Search</span>

  </div>
</div>

<!--Pincode Modal -->

<div class="modal fade" id="pincodeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Set Your Location</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeBtn></button>
          </div>
          <div class="modal-body">
              <!-- <label for="id1" class="modal-title">Set Your Location</label> -->
              <div class="input-group">
                 <input type="text" class="form-control" name="pincode" id="id1" minlength="6" maxlength="6" [(ngModel)]="pincode" (ngModelChange)="getPackageDetailsByPincode()" #pincodeDetls="ngModel">
                  <span class="input-group-text bg-body" *ngIf="isPinCodeAvailable"><i class="bi bi-check-circle-fill text-success"></i></span>
                  <div id="validationServer03Feedback" class="invalid-feedback d-block" *ngIf="!isPinCodeAvailable">
                      We do not Provide Service to this Pincode
                    </div>
                  <!-- <span class="input-group-text">0.00</span> -->
                </div>
          </div>
          <div class="d-grid gap-2 mx-4 my-2">
              <button class="btn btn-primary" type="button">Submit</button>
          </div>
      </div>
  </div>
</div>


<div class="container py-2 mt-4 w-75">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://www.medibuddy.in/assets/banners/medicine-page.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/medibuddy(2).webp" class="d-block w-100" alt="...">
        </div>
       
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
  
  </div>

  
  <app-top-deals></app-top-deals>

<div class="container py-5 ">
  <div class=" fs-1 fw-bolder ">Order Medicines through Prescription</div>
  <div class="row mt-4 ">
    <div class="row">
      <div class="col prescriptions">
        <div class="col">
     
        <h4>Upload Prescription to place order</h4>
        <h6>Upload only .jpg .png or .pdf files, size limit is 15 MB</h6>
        <button type="button" class="btn btn-primary">Order via Prescription <i class="bi bi-arrow-right"></i></button>
      
      
        <img class="mt-2 img" src="https://www.medibuddy.in/assets/icons/medicine/rx.svg" alt="" style="height: 100px; width: 100px;">
      </div>
      </div>
      
     

     <div class="col  prescriptions ">
        <div class="col">
        
          <h4>Don't have a Prescription?</h4>
          <h6>Consult Top Doctors Online and order medicines through valid prescriptions</h6>
          <button type="button" class="btn btn-primary">Start Consultations <i class="bi bi-arrow-right"></i></button>
       
          <img class="mt-2 img" src="https://www.medibuddy.in/assets/icons/services/med-consultation.svg" alt="" style="height: 100px; width: 100px;">
        </div>
    </div>
</div>
</div>
</div>